{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
  <form hx-post="/ask" placeholder="Your question goes here" id="question" hx-trigger="click from:button[type=submit]">
    <textarea name="text"></textarea>
    <button type="submit">Ask</button>
  </form>
  <textarea readonly="true" id="answer">
    {{ template "answer" . }}
  </textarea>
</body>

</html>
{{ end }}

{{ block "answer" . }}
{{ end }}