{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
  <p>Hello Worldy</p>
  <p id="count">{{ template "count" . }}</p>
  <button hx-target="#count" hx-post="/count">Don't Click Me</button>
</body>

</html>
{{ end }}

{{ block "count" . }}
You pressed the Button {{ .Count }} times.
{{ end }}