  
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
name: build
jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v6
      - name: Build Executable
        run: make docker-build-ui-linux
